.container {
	text-align: center;
}

.container .text {
	font-family: 'Abril Fatface', cursive;
	color: hotpink;
	font-size: 400%;
	text-shadow: 2px 2px 0px #000;
	margin-bottom: 30px;
}

.grid {
	width: 440px;
	height: 440px;
	margin: auto;
	text-align: center;
}

.box {
	background: no-repeat center center;
	height: 140px;
	width: 140px;
	margin: auto;
	border-spacing: 0;
	font-size: 0;
}

.r1, .r2, .r3 {
	display: inline-block;
	float: left;
}

.r1 {
	border-bottom: 10px solid;
}

.r3 {
	border-top: 10px solid;
}

.c1 {
	border-right: 10px solid;
}

.c3 {
	border-left: 10px solid;
}

.ex {
	background-image: url("../images/PaintMelt-X.png");
}

.oh {
	background-image: url("../images/balloon-o.png");
}

.results {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 50%;
}

.text p {
	margin: 0;
}

.new_game {
	background-color: darkgrey;
	font-size: 50%;
	font-weight: bold;
	border-radius: 10px;
	outline: 0;
}